# Import Libraries

In [2]:
# import libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# Table of Contents

* [Import Datasets](#importdata)
* [Indexing](#index)
* [Data Exploration](#explore)
* [Clean Data](#clean)
* [List of Customers](#column)

# Import Datasets <a class="anchor" id="importdata"></a>

The two main datasets are "Levering" and "Teruglevering", which are respectively consumption and production.

In [55]:
# import dataset
consumption = pd.read_csv("Raw Data/Original datasets/Levering.csv", sep=';')
production = pd.read_csv("Raw Data/Original datasets/Teruglevering.csv", sep=';',skiprows=1)

In [105]:
customer_type = pd.read_csv("Raw Data/Original datasets/Klanttypering.csv", sep=';')
customer_type.head(5)

     Klant    woning type   bouwjaar gezinssituatie
0  Klant 1            NaN        NaN            NaN
1  Klant 2            NaN        NaN            NaN
2  Klant 3  2 onder 1 kap  Voor 1940  Alleenstaande
3  Klant 4            NaN        NaN            NaN
4  Klant 5            NaN        NaN            NaN

# Indexing <a class="anchor" id="index"></a>
The index should show the date and time. Every 15 min there is a measurement (every row).

In [56]:
consumption.datetime = pd.to_datetime(consumption.datetime)

In [57]:
consumption.set_index('datetime', inplace=True)

In [58]:
consumption.head(5)

,SOM,Klant 1,Klant 2,Klant 3,Klant 4,Klant 5,Klant 6,Klant 8,Klant 9,Klant 10,...,Klant 74,Klant 76,Klant 77,Klant 78,Klant 79,Klant 80,Klant 81,Klant 82,leverende klanten,niet leverenden
datetime,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00,9076.0,71.0,188.0,NaN,31.0,61.0,138.0,187.0,194.0,21.0,...,29.0,60.0,126.0,57.0,223.0,203.0,NaN,NaN,#WAARDE!,#WAARDE!
2013-01-01 00:15:00,8962.0,58.0,176.0,NaN,13.0,64.0,147.0,169.0,152.0,21.0,...,15.0,72.0,114.0,30.0,257.0,191.0,NaN,NaN,1541,7460
2013-01-01 00:30:00,9503.0,57.0,180.0,NaN,16.0,43.0,129.0,173.0,133.0,25.0,...,25.0,77.0,112.0,32.0,179.0,162.0,NaN,NaN,1584,7455
2013-01-01 00:45:00,8789.0,78.0,224.0,NaN,14.0,29.0,140.0,202.0,140.0,10.0,...,64.0,66.0,102.0,29.0,216.0,222.0,NaN,NaN,1339,8016
2013-01-01 01:00:00,8806.0,63.0,211.0,NaN,17.0,30.0,147.0,200.0,137.0,24.0,...,79.0,71.0,53.0,31.0,209.0,211.0,NaN,NaN,1485,7379

In [59]:
production.set_index('datetime', inplace=True)

# Data exploration <a class="anchor" id="explore"></a>

### Consumption dataset

1. Approximately 50% of the rows for all customers (columns) are filled with NaN's.
2. The above is mainly the result of only NaNs in the Excel starting from row 35042


### Production dataset

1. From 35042 -> 1-1-2014 unitll 31-1-2014 (38018)

In [60]:
#consumption.info()

In [61]:
consumption.isna().sum()

SOM                  34992
Klant 1              35558
Klant 2              35089
Klant 3              36243
Klant 4              35089
                     ...
Klant 80             38377
Klant 81             35463
Klant 82             38097
leverende klanten    34992
niet leverenden      34992
Length: 80, dtype: int64

In [62]:
# pd.DataFrame(production.isna().sum())

# Clean Data <a class="anchor" id="clean"></a>
## Consumption
1. Remove empty cells (empty for all columns)
2. Divide into summer and winter (new csv)

## Production
1. Remove same rows as consumption dataset
2. Divide into summer and winter (new csv)

## Customer type

In [63]:
# After 35040 No data
consumption = consumption.iloc[0:35040,:]

In [64]:
# Threshold to remove customers??
consumption.isna().sum().sort_values(ascending=False)

Klant 59    12246
Klant 63    11782
Klant 69     7722
Klant 47     6977
Klant 55     5329
            ...
Klant 39        0
Klant 38        0
Klant 37        0
Klant 36        0
SOM             0
Length: 80, dtype: int64

In [65]:
# between_time only useful for timeinterval not by data
time_slice = consumption.between_time('00:15:00','00:30:00' )

In [66]:
# Summer 20 June - 22 September
# 16322 = 16320  - 25441  
consumption_summer = consumption.iloc[16320:25440,:]
# to csv
consumption_summer.to_csv("Raw Data/Summer/Levering_summer.csv", sep=',')

In [67]:
# Winter 21 Dec - 20 March
# add two periods
winter_dec = consumption.iloc[33984:35040,:] 
winter_jfm = consumption.iloc[0:7584,:]
# add via concat
consumption_winter = pd.concat([winter_dec,winter_jfm])
# to csv
consumption_winter.to_csv("Raw Data/Winter/Levering_winter.csv", sep=',')

In [68]:
production = production.iloc[0:35040,:]

In [69]:
production_summer = production.iloc[16320:25440,:]
production_summer.to_csv("Raw Data/Summer/Teruglevering_summer.csv", sep=',')

In [70]:
prod_winter_dec = production.iloc[33984:35040,:] 
prod_winter_jfm = production.iloc[0:7584,:]
production_winter = pd.concat([prod_winter_dec,prod_winter_jfm])
production_winter.to_csv("Raw Data/Winter/Teruglevering_winter.csv", sep=',')

In [110]:
customer_type.dropna(inplace=True)

In [116]:
customer_type.set_index('Klant',inplace=True)

In [117]:
customer_type

                 woning type      bouwjaar        gezinssituatie
Klant
Klant 3        2 onder 1 kap     Voor 1940         Alleenstaande
Klant 6        2 onder 1 kap     Voor 1940  Paar zonder kinderen
Klant 9        Rijtjeswoning   1940 - 1979  Paar zonder kinderen
Klant 13       Rijtjeswoning   1940 - 1979    Gezin met kinderen
Klant 15       Rijtjeswoning   1940 - 1979  Paar zonder kinderen
Klant 17       Rijtjeswoning   1940 - 1979  Paar zonder kinderen
Klant 18       2 onder 1 kap   1940 - 1979         Alleenstaande
Klant 19       2 onder 1 kap  1980 - heden    Gezin met kinderen
Klant 20       Rijtjeswoning   1940 - 1979  Paar zonder kinderen
Klant 21       Rijtjeswoning  1980 - heden    Gezin met kinderen
Klant 22       Rijtjeswoning   1940 - 1979  Paar zonder kinderen
Klant 23       Rijtjeswoning   1940 - 1979    Gezin met kinderen
Klant 25       2 onder 1 kap  1980 - heden    Gezin met kinderen
Klant 26         Appartement  1980 - heden         Alleenstaande
Klant 29             Overige  1980 - heden    Gezin met kinderen
Klant 30       Rijtjeswoning   1940 - 1979  Paar zonder kinderen
Klant 31       Rijtjeswoning     Voor 1940    Gezin met kinderen
Klant 32       2 onder 1 kap  1980 - heden  Paar zonder kinderen
Klant 33       2 onder 1 kap   1940 - 1979         Alleenstaande
Klant 34       Rijtjeswoning   1940 - 1979    Gezin met kinderen
Klant 35       2 onder 1 kap   1940 - 1979    Gezin met kinderen
Klant 38       2 onder 1 kap  1980 - heden  Paar zonder kinderen
Klant 39       Rijtjeswoning  1980 - heden         Alleenstaande
Klant 42       2 onder 1 kap   1940 - 1979    Gezin met kinderen
Klant 43       2 onder 1 kap   1940 - 1979         Alleenstaande
Klant 46       2 onder 1 kap  1980 - heden  Paar zonder kinderen
Klant 47  Vrijstaande woning  1980 - heden         Alleenstaande
Klant 48       2 onder 1 kap  1980 - heden    Gezin met kinderen
Klant 52       2 onder 1 kap  1980 - heden    Gezin met kinderen
Klant 53       Rijtjeswoning   1940 - 1979  Paar zonder kinderen
Klant 58       2 onder 1 kap   1940 - 1979  Paar zonder kinderen
Klant 60  Vrijstaande woning   1940 - 1979  Paar zonder kinderen
Klant 61       Rijtjeswoning  1980 - heden  Paar zonder kinderen
Klant 62  Vrijstaande woning   1940 - 1979  Paar zonder kinderen
Klant 63  Vrijstaande woning   1940 - 1979  Paar zonder kinderen
Klant 68       2 onder 1 kap     Voor 1940  Paar zonder kinderen
Klant 70       2 onder 1 kap   1940 - 1979         Alleenstaande
Klant 71  Vrijstaande woning     Voor 1940    Gezin met kinderen
Klant 75       Rijtjeswoning  1980 - heden  Paar zonder kinderen
Klant 76       2 onder 1 kap   1940 - 1979  Paar zonder kinderen
Klant 79  Vrijstaande woning     Voor 1940    Gezin met kinderen
Klant 81       Rijtjeswoning  1980 - heden         Alleenstaande
Klant 82       Rijtjeswoning  1980 - heden  Paar zonder kinderen

In [112]:
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer

In [131]:
columnTransformer = ColumnTransformer([('encoder', 
                                        OneHotEncoder(), 
                                        [0,1])],
                                        remainder='passthrough'
                                      ) 
  
data = np.array(columnTransformer.fit_transform(customer_type), dtype = np.str)
data

array([['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0',
        'Alleenstaande'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Gezin met kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
        'Alleenstaande'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Gezin met kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0', '0.0',
        'Gezin met kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Gezin met kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Gezin met kinderen'],
       ['0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Alleenstaande'],
       ['0.0', '0.0', '1.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Gezin met kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '0.0', '1.0',
        'Gezin met kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Paar zonder kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
        'Alleenstaande'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Gezin met kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
        'Gezin met kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0', '0.0',
        'Alleenstaande'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
        'Gezin met kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
        'Alleenstaande'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0',
        'Alleenstaande'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Gezin met kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0',
        'Gezin met kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0',
        'Paar zonder kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
        'Alleenstaande'],
       ['0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0',
        'Gezin met kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0', '0.0',
        'Paar zonder kinderen'],
       ['1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
        'Paar zonder kinderen'],
       ['0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0',
        'Gezin met kinderen'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0', '0.0',
        'Alleenstaande'],
       ['0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0', '0.0',
        'Paar zonder kinderen']], dtype='<U20')

# List of customers <a class="anchor" id="colum"></a>

Four different kind of customers:
1. There are some customer numbers that do not exist in the dataset (in other words, the column is not included)
2. Customers with a lot of NaNs
3. Customer without solar panels (no production)
4. Customer with solar panels (with production)

In [103]:
# check for prosomers
production_summer['Klant 3'].isin([0]).sum()

9120

In [71]:
cust_not_exist = ['Klant 7','Klant 12','Klant 54', 'Klant 56' , 'Klant 75']
cust_no_data = ['Klant 59']

In [82]:
prosumers = ['Klant 1','Klant 21','Klant 30', 'Klant 47' , 'Klant 48',
             'Klant 55', 'Klant 63' , 'Klant 69','Klant 79' , 'Klant 80']

consumers = ['Klant 2', 'Klant 3', 'Klant 4', 'Klant 5', 'Klant 6',
           'Klant 8', 'Klant 9', 'Klant 10', 'Klant 11', 'Klant 13', 'Klant 14',
           'Klant 15', 'Klant 16', 'Klant 17', 'Klant 18', 'Klant 19', 'Klant 20',
           'Klant 22', 'Klant 23', 'Klant 24', 'Klant 25', 'Klant 26',
           'Klant 27', 'Klant 28', 'Klant 29',  'Klant 31', 'Klant 32',
           'Klant 33', 'Klant 34', 'Klant 35', 'Klant 36', 'Klant 37', 'Klant 38',
           'Klant 39', 'Klant 40', 'Klant 41', 'Klant 42', 'Klant 43', 'Klant 44',
           'Klant 45', 'Klant 46',   'Klant 49', 'Klant 50','Klant 51', 'Klant 52', 
           'Klant 53',  'Klant 57', 'Klant 58','Klant 59', 'Klant 60', 'Klant 61', 
           'Klant 62',  'Klant 64','Klant 65', 'Klant 66', 'Klant 67', 'Klant 68',  
           'Klant 70','Klant 71', 'Klant 72', 'Klant 73', 'Klant 74', 'Klant 76', 
           'Klant 77','Klant 78', 'Klant 81', 'Klant 82']

In [104]:
len(consumers)

67

# Data visualization

In [ ]:
plt.show()